[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
bandit = "*"

[packages]
pandas = "*"
transitions = "*"
haversine = "*"
pytest = "*"

[requires]
python_version = "3.7"
